* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: rgb(6, 87, 192);
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

/* Estilo do contêiner do spinner */
.loading-spinner {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Estilo do spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #ccc;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animação do spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header-page {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
}

.container {
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
}

.container.d-flex {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.body-page {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: calc(100% - 118px);
  margin: 32px auto 0 auto;
  padding: 15px;
  width: 90%;
}

.top-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.btn-add,
.btn-search {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color 100ms linear;
}

.btn-add:visited {
  color: white;
}

.search-wrapper {
  display: flex;
  gap: 8px;
}

.search-bar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 15px;
}

.table-wrapper {
  height: calc(100% - 66px);
  overflow: auto;
}

.main-table {
  border-collapse: collapse;
  width: 100%;
}

.main-table th {
  font-weight: 900;
}

.main-table td {
  text-align: center;
}

.main-table td a+a {
  margin-left: 8px;
}

.main-table td .icon-seemore {
  background: url("../images/icon-seemore.svg") center center no-repeat;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.main-table td .icon-seemore span {
  display: none;
}

.main-table td .icon-trash {
  background: url("../images/icon-trash.svg") center center no-repeat;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.main-table td .icon-trash span {
  display: none;
}

.main-table td,
.main-table th {
  padding: 8px 0;
}

.main-table tbody tr:nth-child(2n+1) {
  background-color: #ececec;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.modal {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 50%;
  padding: 16px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  p {
    margin: 24px 0;
  }

  button {
    background-color: #007BFF;
    color: white;
  }

  .buttons__wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, .4);
  content: '';
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}