* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: rgb(6, 87, 192);
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

.header-page {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
}

.container {
  margin: 0 auto;
  max-width: 1316px;
  width: 100%;
}

.body-page {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: calc(100% - 256px);
  margin: 32px auto 0 auto;
  padding: 15px;
  width: 90%;
}

.top-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.btn-add,
.btn-search {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color 100ms linear;
}

.btn-add:visited {
  color: white;
}

.search-wrapper {
  display: flex;
  gap: 8px;
}

.search-bar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 15px;
}

.table-wrapper {
  height: calc(100% - 70px);
  overflow: auto;
}

.main-table {
  border-collapse: collapse;
  width: 100%;
}

.main-table th {
  font-weight: 900;
}

.main-table td {
  text-align: center;
}

.main-table td a+a {
  margin-left: 8px;
}

.main-table td .icon-seemore {
  background: url("../images/icon-seemore.svg") center center no-repeat;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.main-table td .icon-seemore span {
  display: none;
}

.main-table td .icon-trash {
  background: url("../images/icon-trash.svg") center center no-repeat;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.main-table td .icon-trash span {
  display: none;
}

.main-table td,
.main-table th {
  padding: 8px 0;
}

.main-table tbody tr:nth-child(2n+1) {
  background-color: #ececec;
}